.App {
  border: dotted rgb(35, 4, 212) 1px;
  display: grid;
  height: 100vh;
  grid-template-columns: [col0] 40% [col1] 60% [col2];
  grid-template-rows: [row0] 100% [row1];
  max-width: 1400px;
  margin: auto;
}

.left {
  grid-column-start: 1;
  grid-column-end: 2;
  display: grid;
  grid-template-columns: [col0] 100% [col1];
  grid-template-rows: [row0] 5rem [row1] 1fr [row2] 4rem [row3];
  overflow: hidden;
  position: relative;
}

.left-row1 {
  grid-row-start: 1;
  grid-row-end: 2;
  padding: 0.5rem;
}

.left-row2 {
  grid-row-start: 2;
  grid-row-end: 3;
  overflow: auto;
}

.left-row3 {
  grid-row-start: 3;
  grid-row-end: 4;
  justify-self: stretch;
  align-self: stretch;
}

.right {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 4;
  border: 1px solid black;
  display: grid;
  grid-template-columns: [col0] 100% [col1];
  grid-template-rows: [row0] 4rem [row1] 1fr [row2] 3rem [row3];
  overflow: hidden;
}

.right:hover {
  border: 2px solid blue;
}

.right-row1 {
  grid-row-start: 1;
  grid-row-end: 2;
  padding: 0.5rem;
}

.right-row2 {
  grid-row-start: 2;
  grid-row-end: 3;
  display: flex;
  flex-direction: column;
  overflow: auto;
}

.right-row3 {
  grid-row-start: 3;
  grid-row-end: 4;
  /* justify-self: stretch;
  align-self: stretch; */
  padding: auto;
}

.chat-window {
  position: relative;
}

.chat-window .greyed-out {
  margin: 30% 1rem 0 1rem;
  color: rgb(167, 167, 167);
  font-size: 2rem;
  font-weight: 700;
}

.chat-window .right-row3 {
  display: flex;
  align-items: center;
  justify-content: center;
}

.chat-window .right-row3 form {
  width: 95%;
}

.chat-window .right-row3 form div {
  width: 100%;
}

.chat-window .right-row3 form div input {
  padding: 0.2rem 0.5rem;
}

.chat-window .MuiDialog-container {
  align-items: flex-start;
}

.chat-window .MuiPaper-root {
  margin-top: 10%;
  min-width: 50%;
  max-width: 80%;
}

.chat-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.chat-header > div:nth-child(1) {
  display: flex;
  align-items: center;
}

.chat-header .xIconContainer {
  margin: 0 2rem 0 0;
}

.chatTitle {
  font-weight: 700;
}

/* .Header {
  text-align: center;
  display: flex;
} */

.left-row1 > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.message-block {
  max-width: 70%;
  min-width: 5%;
  display: inline-block;
  padding: 0.5rem;
}

.message-block > * {
  /* word-wrap: break-word; */
  overflow-wrap: anywhere;
  /* display: inline-block; */
}

/* .message-block .content {
  display: inline-block;
} */

.message-block.self {
  align-self: flex-end;
}

/* .message-block.self .container::before {
  content: "\00a0 ";
} */

.message-block .content {
  display: inline-block;
  border-radius: 18px;
  padding: 0 0.8rem;
}

.message-block.other > .content {
  background-color: #e4e6eb;
}

.message-block.self .container {
  display: flex;
  justify-content: flex-end;
  padding: 0;
}

.message-block.self .content {
  background-color: rgb(0, 132, 255);
  color: white;
  /* justify-self: flex-end; */
  /* position: absolute;
  right: 0; */
}

.message-block .time {
  font-size: 0.9rem;
  color: grey;
}

.message-block.self .time {
  text-align: right;
}

.right-row3 {
  padding: auto;
}

.right-row3 input {
  width: 100%;
}

.friend,
.chat {
  padding: 1rem 1rem;
  display: flex;
  align-items: center;
}

.userIcon {
  background-color: cadetblue;
  border-radius: 50%;
  width: 3rem;
  height: 3rem;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  font-weight: 500;
  margin-right: 1rem;
  padding: 0 0 0.3rem 0;
}

.Header .userIcon:hover {
  cursor: pointer;
}

.userIcon.large {
  margin: 0 auto;
  width: 6rem;
  height: 6rem;
  font-size: 3rem;
  padding: 0 0 0.6rem 0;
}

.profile-page {
  position: absolute;
  z-index: 5;
  width: 100%;
  /* height: 100%; */
  background-color: white;
  padding: 0 0 2rem 0;
  display: none;
}

.profile-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.profile-header-left {
  display: flex;
  align-items: center;
}

.profile-header-left > *:nth-child(2) {
  margin: 0 0 0 1rem;
  font-size: 1rem;
  font-weight: bold;
}

.profile-username {
  display: flex;
  justify-content: space-around;
  font-size: 1.5rem;
  padding: 0.5rem 0 0 0;
}

/* .profile-header {
  display: inline;
} */

.userIcon.group {
  background-color: transparent;
  /* background-color: black; */
  border-radius: 0;
  position: relative;
  /* display: inline; */
}

.userIcon.small {
  width: 2rem;
  height: 2rem;
  font-size: 1rem;
  margin: 0;
  padding: 0 0 0.2rem 0;
}

.userIcon.small:nth-child(1) {
  width: 2.2rem;
  height: 2.2rem;
  position: absolute;
  left: -0.2rem;
  bottom: -0.2rem;
  z-index: 2;
  border: 0.2rem solid white;
}

.userIcon.small:nth-child(2) {
  position: absolute;
  left: 1rem;
  top: 0;
  z-index: 1;
}

.friend:hover,
.chat:hover {
  background-color: beige;
}

.iconContainer {
  width: 2.5rem;
  height: 2.5rem;
  background-color: rgb(231, 231, 231);
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 50%;
}

.iconContainer:hover {
  background-color: rgb(202, 202, 202);
}

.icon {
  width: 1.5rem;
  height: 1.5rem;
}

.Header-left {
  display: flex;
  align-items: center;
}

.Header-left > .userIcon {
  margin: 0 1rem 0 0;
}

.left-row1 .buttons > *:nth-child(1) {
  margin: 0 0.5rem 0 0;
}

.ask {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  background-color: yellow;
  width: 5rem;
  height: 5rem;
}

.login,
.registration {
  grid-column-start: 1;
  grid-column-end: 3;
  margin: 2rem auto;
}

.login form,
.registration form {
  margin: 0 0 2rem 0;
}

/* .login input,
.registration input {
  display: block;
  margin: 0 0 0.5rem 0;
} */

.login form div,
.registration form div {
  display: block;
  margin: 0 0 1rem 0;
}

.login form input,
.registration form input {
  padding: 0.5rem;
  width: 95%;
}

.creat-new-account {
  margin: 0.5rem 0 1rem 0;
}

.visitor-sign-in {
  margin: 0.5rem 0 0 0;
}

.sr-only {
  display: none;
}

.spinner-border {
  position: absolute;
  left: 50%;
  top: 10%;
}

@media screen and (max-width: 900px) {
  .App {
    border: dotted rgb(35, 4, 212) 1px;
    display: grid;
    height: 100vh;
    grid-template-columns: [col0] 100% [col1];
    grid-template-rows: [row0] 100% [row1];
    /* max-width: 1400px; */
    margin: auto;
  }

  .HideIfMobile {
    display: none;
  }
  .ShowIfMobile {
    grid-column-start: 1;
    grid-column-end: 2;
    display: grid;
  }

  .login,
  .registration {
    grid-column-start: 1;
    grid-column-end: 2;
    margin: 2rem auto;
  }

  .chat-window .MuiPaper-root {
    margin-top: 10%;
    width: 80%;
  }
}

/* .left.row3 {
  position: relative; 
} */

/* .left.row3:hover {
  background:chartreuse;
} */

/* .App {
  border: dotted rgb(35, 4, 212) 1px; 
  display: grid; 
  height: 100vh;
  grid-template-columns: [col0] 40% [col1] 60% [col2];
  grid-template-rows: [row0] 10% [row1] 1fr [row2] 3rem [row3];
}

.left {
  grid-column-start: 1;
  grid-column-end: 2;
}

.row1 {
  grid-row-start: 1;
  grid-row-end: 2;
}

.row2 {
  grid-row-start: 2;
  grid-row-end: 3;
}

.row3 {
  grid-row-start: 3;
  grid-row-end: 4;  
  justify-self: stretch;
  align-self: stretch;
}

.right {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 4;
  border: 1px solid black;
}

.right:hover {
  border: 2px solid blue;
}

.Header {
  text-align: center;
} */
